/* ACK Style */
#image-logo {
    position: relative;
    top: -0.5em;
    height: 42px;
}

.logo-rodape{
/*	position: relative;
	top: -6em;
	left: -3em;*/
}

	.logo-rodape h2{
		color: #6D6D6D;
	}

	.logo-rodape span{
		color: #42B149;
	}

.painel-sobre{
   /* padding: 25px 0;
    background: rgba(128, 180, 33, 0.80);*/
    background: rgba(66, 177, 73, 0.8);
}

	.painel-sobre h2{
		color: #fff;
		padding: 15px 0;
	}

	.painel-sobre h3{
		text-align: center;
		font-weight: bold;
	}

	.painel-sobre p{
		color: #282712;
		text-align: justify;
		font-size: 1.5em;
	}

	.painel-sobre .valores{
		padding-left: 2.8em;
		text-align: left;
		margin: 0;
		font-size: 1.3em;
		list-style-type: square;
	}

.painel-servico{

}

	.painel-servico .lista{
		padding-left: 4em;
		text-align: left;
		margin: 0;
		font-size: 1.1em;
		list-style-type: square;
		color: #6D6D6D;
	}

.divFrase {
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: #000;
	height: 110px;
 }

	.divFrase h3 {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
	    font-style: italic;
		margin: 0 0 10px 0;
		padding: 0;
		color: #fff;
		font-size: 1.3em;
		line-height: 2em;
	}

	.divFrase h5 {
		font-size: 1em;
		color: #FEFEFE;
		font-style: normal;
		margin: 0 0 45px 0;
	}
	
.divFraseContato {
	height: 85px;
	background-color: rgba(0, 0, 0, 0.9)
}

.fullscreen{
	width: 100%;
}

.bgBlack{
	background-color: rgb(34,34,34);
}

.heading{
	margin: 0;
	padding:0;
}

.page-section{
	padding: 0;	
}

.painel-contato{
	padding: 10px;
}

.painel-contato h4 {
	color: #42B149;
	font-weight: bold;
}


#services p{
	text-align: justify;
}

#destination p{
	text-align: justify;
}

.logo_404 {
	margin: 10px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;	
	color: rgb(66, 177, 73);
}

.titulo_404 {
	vertical-align: middle;
	color: #000;
	padding-bottom:10px;
}

@media (max-width: 768px) {
	
	.divFrase h3 {
		font-size: 1.2em;
		line-height: 1em;
	}

	.divFrase h5 {
		font-size: 1em;
	}	
	
	.painel-sobre p{
		font-size: 1.2em;
	}	
	
}