/*
	Estilo aplicado - ACKDATA Soluções em Tecnologia
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,500);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

body {
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Roboto', 'sans-serif';
}

::selection {
    color: #fff;
    background: #42B149;
}

::-moz-selection {
    color: #fff;
    background: #42B149;
}

p {
    color: #858585;
}

.btn, .form-control, .team-socials i {
    border-radius: 5px !important;
}

.button-outline {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color: #fff;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(255,255,255,0.15);
}

    .button-outline:hover {
        color: #fff;
        background: rgba(255,255,255,0.35);
    }

a {
    color: #42B149;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    a:hover {
        color: #6EAA00;
        text-decoration: none;
    }

.btn {
    border: 0px;
    border-radius: 0px;
}

    .btn:hover {
        background: #6EAA00;
    }

.btn-primary {
    background: #42B149;
}

.form-control {
    border-radius: 0px;
}

.copyright {
    color: #6D6D6D;
    background: #131313;
    padding: 20px 0;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}

#home {
	padding-top: 70px;
}

/* Header 
----------------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 50;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 0px;
}

.navbar-inverse .navbar-toggle {
    border-color: #42B149;
    background-color: #42B149;
}

    .navbar-inverse .navbar-toggle .icon-bar {
        /*background-color: #42B149;*/
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: #42B149;
    }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #42B149;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
}

.navbar-toggle {
}

#myCarousel {
    margin-top: 0px;
}

.carousel-inner > .item {
}

.carousel-caption {
    padding: 0px;
    bottom: 45%;
    display: block;
    height: 80px;
}

    .carousel-caption h1 {
        font-size: 45px;
        padding: 10px 15px;
        background: rgba(66, 177, 73, 0.8);
        color: #FFFFFF;
        text-shadow: none;
        font-weight: bold;
        display: inline-block;
    }
    .carousel-caption h3 {
        font-size: 30px;
        color: #1C4604;
        font-weight: bold;
        text-shadow: #fff 1px 1px 1px;
        background: rgba(66, 177, 73, 0.8);
    }

.carousel-indicators li { 
	visibility: hidden;
}
	
.circle {
    background: #42B149;
    height: 60px;
    width: 60px;
    border-radius: 35px;
    color: #fff;
    line-height: 60px !important;
}
/*----Nav ----*/
.header .navbar-brand {
    float: left;
    /*padding: 16px 15px;*/
    line-height: 18px;
    height: 50px;
    /*color:#80B421;*/
    font-variant: small-caps;
}

.navbar-brand b {
    color: #42B149;
}

.logo {
    font-size: 2.2em;
    text-shadow: none;
    margin: 8px 0 0 0;
}

.logo:hover {
    color: #5A5A5A;
}

.logo-top{
    padding-left: 1em;
    font-size: 0.8em;
}

.header .navbar {
    margin: 0;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #858585;
    font-size: 1.2em;
    line-height: normal;
    font-variant: small-caps;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    border-bottom: 2px solid #42B149;
    box-sizing: border-box;
    background: #42B149;
    vertical-align: bottom;
}

.navbar-nav > li:hover > a {
    color: #42B149;
}

.header .navbar-nav > li > a {
    padding: 25px 10px;
	font-size: 1.5em;
}

.page-section {
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.page-section h1 {
    font-size: 3.5em;
    margin: 90px 0 30px;
    line-height: 1.2em;
}

    .page-section h1 span {
        font-weight: 200;
    }

.page-section h2 {
    color: #42B149;
}

.page-section p, ul {
    font-size: 1.1em;
    line-height: 1.6em;
}

.heading {
    padding-bottom: 0;
}

    .heading p {
        font-size: 1.3em;
    }

/* ----- Legislação -----*/

#legislacao {
    background: rgb(44, 44, 44);
}

    #legislacao img {
        width: 100%;
    }

    #legislacao article, p {
        margin-bottom: 1.45em; /*set next row on the baseline*/
    }

.page-section.intro {
    min-height: 700px;
}

.btn {
    font-weight: 200;
}

.back-to-top {
    display: inline-block;
    clear: both;
    background: #fff;
    color: #333;
    padding: 0 10px 5px;
    margin: 20px 0 0;
    text-shadow: none;
}

    .back-to-top:hover {
        background: #333;
        color: #fff;
        text-decoration: none;
    }

.pageSection {
    min-height: 600px;
    background: #dddddd;
}

    .pageSection:nth-child(odd) {
        background: #eeeeee;
    }

.socialIcons li {
    list-style: none;
    display: inline;
    margin-right: 6px;
}

footer {
    background-color: #242424;
    color: #8e8e8e;
    font-size: 14px;
    padding-top: 20px;
}

    footer ul li {
        list-style: none;
    }

.contact ul li {
    margin-bottom: 10px;
}

    .contact ul li i {
        margin-right: 15px;
    }
	
	
.navbar-nav {
    float: right;
}

@media (min-width: 768px) {
    
	.header .navbar-brand {
        padding-left: 0;
    }
	
}

@media (@min-width: 900px) {
	
	.header .navbar-nav > li > a {
		padding: 25px 25px;
    }
	
}

@media (max-width: 768px) {

    .carousel-caption h1 {
        font-size: 20px;
		margin-top: 0;
		padding-top: 5px;
		padding-bottom: 5px;
    }
	
    .carousel-caption h3 {
        font-size: 15px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #A8A8A8;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 1em;
		padding: 25px 10px;
    }

    .navbar-header {
        margin: 6px 0;
    }
}

@media (max-width: 767px) {
	.header .navbar-nav > li > a {
        font-size: 1em;
		padding: 5px 10px;
		margin: 6px 0;
    }
	
}

@media (max-width: 480px) {
    
	.carousel-caption h1 {
        font-size: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
    }

    .carousel-caption h3 {
        font-size: 16px;
    }

    .page-section {
        padding: 15px 0;
    }	
	
    .page-section h1 {
        font-size: 3em;
    }

    .page-section h2 {
        font-size: 2em;
    }

    .page-section p {
        font-size: 1em;
        margin: 0 0 20px;
    }

    .heading {
        padding-bottom: 0px;
    }
	
	.copyRights {
		text-align: center;
		display: block;
		width: 100%;
		margin: 2px 0 4px 0;
	}
	
}

@media (max-width: 320px) {
    
	.carousel-caption h1 {
        font-size: 18px;
    }
	
	.carousel-caption h3 {
        display: none;
    }
}
